*{

background-color: rgb(247, 244, 241);

}
.contact1{
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(92, 92, 139);


}
.card3{

  width:100%;
 height: auto;


}
